# Directories
build/
Debug/
Release/
ipch/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# MSVC Solution files
*.sln
*.suo
*.sdf
*.opensdf
*.user